<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>VueJs 3 CRUD application!</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/vue-router@4"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row"  style="min-height: 400px;">
                <div class="col-md-12">
                    <div id="crudvue_app" v-cloak class="card" >  
                        <div class="card-content">
                            <div class="card-header" title=""><h1>{{appTitle}}</h1></div>
                            <div class="nav">
                                <router-link to="/" class="btn btn-success m-2">Index</router-link> 
                                <router-link class="btn btn-info m-2" to="/add">Add</router-link>
                            </div>
                            <div class="col-12"> 
                                {{successMessage}}
                                <div v-if="errorMessage"  v-html="errorMessage"  class="alert alert-danger m-1"></div>
                                <div v-if="successMessage"  v-html="successMessage"  class="alert alert-success m-1"></div> 
                            </div>
                        </div> 
                        <router-view></router-view>
                    </div> 
                    <template id="crudvue_index">
                        <div class="">
                            <h2>CRUD Index</h2>
                            <p>This is CRUD index page of VueJs 3 application </p> 
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>ID </th>
                                            <th>Name</th>
                                            <th>Mobile</th> 
                                            <th class="actions">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        <tr v-for="item in items">
                                            <td>{{item.id}} </td>
                                            <td>{{item.name}} </td>
                                            <td>{{item.mobile}} </td>
                                   <td class="actions">
                                    <router-link class="btn btn-info mr-1" v-bind:to="{name: 'edit', params: {id: item.id}}">Edit</router-link>
                                    <router-link class="btn btn-success  mr-1  " v-bind:to="{name: 'show', params: {id: item.id}}">View</router-link>
                                    <button class="btn btn-danger" @click="onDelete(item.id)" >Delete</button>
                                    </td>
                                    </tr>
                                    <tr v-if="items.length===0"> <td   class="text-center h1">No Record Found</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </template>
                    <template id="crudvue_view">
                        <div class="">
                            <h2>CRUD View</h2>
                            <p>This is CRUD view  page of VueJs 3 application</p> 
                            <!--{{item}}-->
                            <div class="form-group">
                                <label for="appIputId">ID</label>: {{item.id}}
                            </div>
                            <div class="form-group">
                                <label for="appIputName">Name</label>: {{item.name}}
                            </div>
                            <div class="form-group">
                                <label for="appIputMobile">Mobile</label>: {{item.mobile}}
                            </div>
                            <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
                        </div>
                    </template>
                    <template id="crudvue_add">
                        <div class="">
                            <h2>CRUD Add</h2>
                            <p>This is CRUD add  page of VueJs 3 application</p> 
                            <form enctype="multipart/form-data"  @submit.prevent="onSave"  class="form form-vertical needs-validation"   method="post">
                                <div class="form-group">
                                    <label for="appIputId">ID</label>
                                    <input type="name" v-model="item.id"  class="form-control" id="appIputId" aria-describedby="appIputIdHelp" placeholder="Enter Name">
                                    <small id="appIputIdHelp"  class="form-text text-muted">Please insert ID </small>
                                </div>
                                <div class="form-group">
                                    <label for="appIputName">Name</label>
                                    <input type="name" v-model="item.name"  class="form-control" id="appIputName" aria-describedby="appIputNameHelp" placeholder="Enter Name">
                                    <small id="appIputNameHelp"  class="form-text text-muted">Please insert name </small>
                                </div>
                                <div class="form-group">
                                    <label for="appIputMobile">Mobile</label>
                                    <input type="name"  v-model="item.mobile" class="form-control" id="appIputMobile" aria-describedby="appIputMobileHelp" placeholder="Enter Mobile">
                                    <small id="appIputNameHelp"  class="form-text text-muted">Please insert mobile number </small>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button> or <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
                            </form>
                        </div>
                    </template>
                    <template id="crudvue_edit">
                        <div class="">
                            <h2>CRUD Edit</h2>
                            <p>This is CRUD edit  page of VueJs 3 application</p> 
                            <form enctype="multipart/form-data"  @submit.prevent="onUpdate"  class="form form-vertical needs-validation"   method="post">
                                <div class="form-group">
                                    <label for="appIputId">ID</label>
                                    <input type="name" v-model="item.id"  class="form-control" id="appIputId" aria-describedby="appIputIdHelp" placeholder="Enter Name">
                                    <small id="appIputIdHelp"  class="form-text text-muted">Please insert ID </small>
                                </div>
                                <div class="form-group">
                                    <label for="appIputName">Name</label>
                                    <input type="name" v-model="item.name"  class="form-control" id="appIputName" aria-describedby="appIputNameHelp" placeholder="Enter Name">
                                    <small id="appIputNameHelp"  class="form-text text-muted">Please insert name </small>
                                </div>
                                <div class="form-group">
                                    <label for="appIputMobile">Mobile</label>
                                    <input type="name"  v-model="item.mobile" class="form-control" id="appIputMobile" aria-describedby="appIputMobileHelp" placeholder="Enter Mobile">
                                    <small id="appIputNameHelp"  class="form-text text-muted">Please insert mobile number </small>
                                </div>
                                <button type="submit" class="btn btn-primary">Update</button> or <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
                            </form>
                        </div>
                    </template>

                </div> 
            </div> 
        </div> 
        <script>
const {createApp, ref} = Vue;
var crudApp = {
    baseUrl: "table_name/",
    appTitle: 'Vue CRUD',
    errorMessage: "",
    successMessage: "",
    clearMessage: function () {
        this.successMessage = "";
        this.errorMessage = "";
    },
    selectedItemId: "",
    item: {},
    items: [
        {id: '1', name: "Md Saidul Haque", mobile: "01911223344"},
        {id: '2', name: "Mr Karim ", mobile: "01611223344"},
        {id: '3', name: "Mr Rahim", mobile: "01711223344"},
        {id: '4', name: "Mr Aboul", mobile: "01811223344"}
    ],

    fetchObject: function (selectedItemId) {
        this.item = this.items.find(item => item.id === selectedItemId);
        /* when you call API, Please comment above line and uncomment axios */
//            axios.get(this.baseUrl + "get/" + selectedItemId).then(res => {
//                if (res.status === 200) {
//                   this.item =this.checkType(res.data.item);
//                }
//            });


    },
    fetchObjects: function () {
        /* when you call API, Please uncomment axios */
//            axios.get(this.baseUrl + "get/").then(res => {
//                if (res.status === 200) {
//                   this.item =this.checkType(res.data.item);
//                }
//            });

    },
    onSave: function () {
        this.clearMessage;
        this.items.push(crudApp.item);
        this.successMessage = "One item has been added";
        crudRouter.push("/");

        /* when you call API, Please comment above line and uncomment axios */
//        var formData = this.formData(crudConfigs.dc_transaction_head);
//        axios.post(this.baseUrl + "post", formData, this.csrfToken).then(res => {
//            if (res.status === 200 && res.data.code === 200) {
//                this.successMessage = res.data.message;
//                crudRouter.push("/");
//            } else {
//                this.errorMessage = res.data.message;
//            }
//
//        });
    },
    onUpdate: function () {
        this.clearMessage;
        console.log(this.successMessage);
        this.successMessage = "One item has been updated";
        crudRouter.push("/");
        /* when you call API, Please comment above line and uncomment axios */
//        var formData = this.formData(crudConfigs.dc_transaction_head);
//        axios.post(this.baseUrl + "put/" + this.dc_transaction_head.id, formData, this.csrfToken).then(res => {
//            if (res.status === 200 && res.data.code === 200) {
//                this.successMessage = res.data.message;
//                crudRouter.push("/");
//            } else {
//                this.errorMessage = res.data.message;
//            }
//
//        });
    },
    onDelete: function (itemId) {
        this.clearMessage;
        if(confirm("Do you want to delete?")){
        const objIndex = this.items.findIndex((obj) => obj.id === itemId);
        this.items.splice(objIndex, 1);
        this.errorMessage = "One item has been deleted";

        /* when you call API, Please uncomment axios */
//        axios.post(this.baseUrl + "delete/" + this.selectedItemId, "", this.csrfToken).then(res => {
//            if (res.data.code == 200) {
//                this.fetchObjects(crudConfigs.paging.page, () => {
//                    this.successMessage = res.data.message;
//                });
//            } else {
//                this.errorMessage = res.data.message;
//            }
//        });
        }
    },
    formData(obj) {
        var formData = new FormData();
        for (let key in obj) {
            let val = obj[key];
            val = val === true ? 1 : val;
            val = val === false ? 0 : val;
            formData.append(key, val);
        }
        // formData.append(crudConfigs.csrf_token_name, csrf_hash);
        return formData;
    },

}

const crudvueIndexComponent = {
    template: "#crudvue_index",
    data() {
        return crudApp
    },
    mounted() {
    },
    methods: {
    },
};
const crudvueViewComponent = {
    template: "#crudvue_view",
    data() {
        return crudApp
    },
    mounted() {
        this.selectedItemId = this.$route.params.id;
//        alert(this.selectedItemId);
        this.fetchObject(this.selectedItemId);

    },
    methods: {
    },
};
const crudvueAddComponent = {
    template: "#crudvue_add",
    data() {
        return crudApp
    },
    mounted() {
        this.item = {};
    },
    methods: {
    },
};
const crudvueEditComponent = {
    template: "#crudvue_edit",
    data() {
        return crudApp
    },
    mounted() {
        this.appTitle = "Vue CRUD - Edit";
        console.log(this.appTitle);
        this.selectedItemId = this.$route.params.id;
//        alert(this.selectedItemId);
        this.fetchObject(this.selectedItemId);
    },
    methods: {
    },
};


const routes = [
    {path: '/', component: crudvueIndexComponent},
    {path: '/add', component: crudvueAddComponent, name: "add"},
    {path: '/view/:id', component: crudvueViewComponent, name: "show"},
    {path: '/edit/:id', component: crudvueEditComponent, name: "edit"}
]

const crudRouter = VueRouter.createRouter({
    history: VueRouter.createWebHashHistory(),
    routes,
})


const crudvue_app = createApp({
    setup() {
        return crudApp
    }
})
crudvue_app.use(crudRouter)
crudvue_app.mount('#crudvue_app')


        </script>


    </body>
</html>




